<div class="menu">
    <div class="about">
        <a href="/personal">
            <i class="fas fa-signature"></i>
            About Me
        </a>
    </div>
    <div class="hashtags">
        <a href="/publications">
            <i class="fa fa-newspaper"></i>
            Publications
        </a>
    </div>
    <div class="categories">
        <a href="/projects">
            <i class="fa fa-tasks"></i>
            Projects
        </a>
    </div>
    <div class="archive">
        <a href="/experience">
            <i class="fa fa-briefcase"></i>
            Experience
        </a>
    </div>
    <div class="archive">
        <a href="/archievements">
            <i class="fa fa-trophy"></i>
            Achievement
        </a>
    </div>
    <!-- <div class="rss">
        <a href="/feed.xml">
            <i class="fas fa-rss"></i>
            RSS
        </a>
    </div> -->
    <!-- <div class="donate">
        <a href="{{ site.donate_link }}">
            <i class="fas fa-dollar-sign"></i>
            Donate
        </a>
    </div> -->
</div>